#overall_sale{
    padding-left: 15px;
}
#register_wrapper{
    padding-right: 15px;
}
#register_wrapper #cart_contents td{
    padding-left: 0px;
    padding-right: 0px;
}
.panel,
.alert{
    border-radius: 0px;
}
.print_hide#control_buttons > a{
    margin-bottom: 10px;
}
@media (max-width: 1199px){
    #add_item_form ul li, #mode_form ul li{
        margin-bottom: 10px;
        margin-left: 0px;
        width: 100%;
    }
}
@media (max-width: 768px){
    #overall_sale,
    #register_wrapper{
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }
    .wrapper > .container > .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { border: 1px solid #ccc; }
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}